node_modules/
dist/
build/
.env
.env.local
.vscode/
.idea/
.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log*
logs/
*.log
.cache/
coverage/
out/
.parcel-cache/
/.history/
*.swp
*.tmp
*.bak
/.turbo/
/.nyc_output/
/.eslintcache
/.vscode/
/.idea/